<div class="typography-content" style="max-width: 900px">

    <div class="typography-header" style="margin-top: 10px">Review and Submit</div>
    <div>
        Review and submit your order by clicking the Check Out below. Thank you for shopping with us.
        <ul>
            <li>A confirmation email will be sent to the customer and the requestor (where applicable).</li>
            <li>Visit My Orders to check the status at any time.</li>
            <li>Estimated delivery time does not include approval.</li>
        </ul>
    </div>

    <!--Order Details-->
    <div class="typography-subheading">Order Details</div>
    <div class="table-responsive">
        <table class="table" style="padding-top: 10px;">
            <tr>
                <td class="col-md-2" style="padding-left: 0; min-width: 200px">Order Number</td>
                <td>{{Order._id}}</td>
                <td></td>
                <td class="col-md-2" style="padding-left: 0; min-width: 200px">Managerial Approver</td>
                <td>{{User.ManagerialApprover1}}</td>
            </tr>
            <tr>
                <td><!--Created On--></td>
                <td><!--{{Order.CreatedOn}}--></td>
                <td></td>
                <td>Financial Approver</td>
                <td>{{User.FinancialApprover1}}</td>
            </tr>
            <tr>
                <td>Managerial Approver</td>
                <td>{{User.ManagerialApprover2}}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Financial Approver</td>
                <td>{{User.FinancialApprover2}}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Billing Cost Center</td>
                <td>{{User.CostCenter}}</td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>

    <!--Order Contents-->
    <div class="typography-subheading">Your Order Contains:</div>
    <div class="table-responsive">
        <table style="width: 100%; min-width: 550px">
            <tr style="background-color: #2c95dc; color: white;">
                <th>Product</th>
                <th>Cost/Billing</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Estimated</th>
            </tr>
            <tr ng-repeat="item in cart">
                <td>{{item.Product}}</td>
                <td>{{item.Cost | currency:$:0}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.Total | currency:$:0}}</td>
                <td>{{item.ETA}}15 Business Days</td>
            </tr>
        </table>
    </div>

    <!--Buttons-->
    <div class="checkout-buttons pull-right">
        <a class="btn btn-lg btn-warning complete-button" ng-click="Cancel()">Cancel Order</a>
        <a class="btn btn-lg btn-warning complete-button" ng-click="Back()">Back</a>
        <a class="btn btn-lg btn-warning complete-button" ng-click="Complete()">Complete Order</a>
    </div>

</div>